<form [formGroup]="form">
    <ng-container *ngFor="let control of controlNames">
        <app-input 
            [label]="texts.form.labels[control]"
            [type]="texts.form.types[control]"
            [name]="texts.form.names[control]" 
            [id]="texts.form.names[control]"
            [placeholder]="texts.form.placeholders[control]" 
            [formGroup]="form"
            [error]="getErrorMessage(control)"
            [isInvalid]="isControlInvalid(control)"
             />
    </ng-container>
</form>