<form [formGroup]="form">
    <app-input [label]="texts.form.labels.name" type="texts.form.types.name" [name]="texts.form.names.name"
        [placeholder]="texts.form.placeholders.name" [formGroup]="form" />
    <app-input [label]="texts.form.labels.email" type="texts.form.types.email" [name]="texts.form.names.email"
        [placeholder]="texts.form.placeholders.email" [formGroup]="form" />
    <app-input [label]="texts.form.labels.password" type="texts.form.types.password" [name]="texts.form.names.password"
        [placeholder]="texts.form.placeholders.password" [formGroup]="form" />
</form>