<app-template-no-login imgSource="assets/illustrations/users-with-bag.svg" imgDescription="Pessoas com bolsas de compra">
  <h2 class="mb-4">Login</h2>

  <app-form-login #formLogin/>  

  <app-back-next-buttons 
    (backClicked)="handleBackClickEvent($event)"
    (nextClicked)="handleNextClickEvent($event)"
    [backDisabled]="true"
    nextButtonName="Login"/>
    <p class="small fw-bold mt-2 pt-1 mb-0">Não tem uma conta? <a routerLink="/registrar" class="link-danger"><span class="pe-auto">registrar</span></a>
    </p>
</app-template-no-login>