<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img src="assets/illustrations/users-with-bag.svg" class="img-fluid" alt="Sample image">
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
      <form [formGroup]="form">
        <app-input
          label="Email"
          type="email"
          name="email"
          id="email"
          placeholder="Digite seu email"
          [formGroup]="form"
        ></app-input>

        <app-input
        label="Senha"
        type="password"
        id="password"
        name="password"
        placeholder="********"
        [formGroup]="form"
      ></app-input>

        <div class="d-flex justify-content-between align-items-center">
          <!-- Checkbox -->
          <div class="form-check mb-0">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
            <label class="form-check-label" for="form2Example3">
              Lembrar-se
            </label>
          </div>
          <a href="#!" class="text-body">Esqueci minha senha?</a>
        </div>

        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
          <p class="small fw-bold mt-2 pt-1 mb-0">Não tem uma conta? <a href="#!" class="link-danger">registrar</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>